* {
    font-family: Consolas;
    font-size: 13px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-color: #281f22;
}

p {
    text-align: center;
    font-size: 14px;
    margin: 3px;
    padding: 0;
    -webkit-transition: border-color 2s ease-out, color 2s ease-out;
}

p:hover {
    color: #e2683b;
    -webkit-transition: color 0.0s ease-in;
}

.menu {
    text-align: center;
}

#canv1 {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: hsl(340, 13%, 10%);
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-transition: border-color 2s ease-out;
}

#canv1:hover {
    border: 1px solid #e2683b;
    cursor:pointer;
    -webkit-transition: border-color 0.0s ease-in;
}

.thumbnails img {
        display: inline-block;
		height: 90px;
        width:  160px;
		border: 1px solid #000;
		padding: 1px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        -webkit-transition: border-color 2s ease-out;
	}

.thumbnails img:hover {
	border: 1px solid #e2683b;
	cursor:pointer;
    -webkit-transition: border-color 0.0s ease-in;
}

.thumbnails img:active {
    border: 1px solid #3be23b;
}

a.ghost {
    color: #000;
    background-color: #281f22;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    width: 80px;
    padding: 3px;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: border 2s ease-out, color 2s ease-out;
}

a.ghost:hover {
    border: 1px solid #e2683b;
    color: #e2683b;
    -webkit-transition: background-color 1.0s ease-in;
}

a.ghost:active {
    color: #3be23b;
    border-color: #3be23b;
}